
.c-btn {
  position: relative;
  display: inline-block;
  font-weight: 600;
  color: var(--text);
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: var(--bg-base);
  padding: calc(var(--system-margin) / 4) calc(var(--system-margin) / 2);
  font-size: inherit;
  line-height: 1.4;
  border: none;
  border-radius: var(--system-height);
  box-shadow: 0.3125em 0.3125em 0.75em 0 var(--Shadow), 
              -0.4375em -0.4375em 0.75em 0 var(--Highlight);
  transition: all .15s ease-in-out;
}

.c-btn::after {  
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.15s ease-in-out;
}

.c-btn:hover {  
  box-shadow: none;
}

.c-btn:hover::after  {
  box-shadow: 0px 0px 0px 0 var(--Shadow-none), 
              0px 0px 0px 0 var(--Highlight-none), 
              inset 0.1875em 0.1875em 0.5em 0 var(--Shadow-concave), 
              inset -0.1875em -0.1875em 0.3125em 0 var(--Highlight-concave);
}

.c-btn:hover::after  {
  border-radius: var(--system-border);
}

.c-btn:hover::after {
  opacity: 1;
}

@media (min-width:62em) {
  .c-btn {
    font-size: 1.0625rem;
  }
}

@media (prefers-reduced-motion:reduce) {
  .c-btn {
      transition: none
  }
}

.c-btn:hover {
  color: var(--text);
  text-decoration: none;
  background-color: var(--bg-base);
}

.c-btn.focus,
.c-btn:focus {
  outline: 0;
  box-shadow: 0 0 0 .2rem var(--focus), inset 3px 3px 8px 0 var(--Shadow-concave), inset -3px -3px 5px 0 var(--Highlight-concave);
}

.c-btn.disabled,
.c-btn:disabled {
  opacity: .65
}

.c-btn:not(:disabled):not(.disabled) {
  cursor: pointer
}

a.c-btn.disabled,
fieldset:disabled a.c-btn {
  pointer-events: none
}

.c-btn-primary {
  color: var(--white);
  background-color: var(--primary);
}

.c-btn-primary:hover {
  color: var(--white);
  background-color: var(--primary);
}

.c-btn-primary:focus {
  color: var(--white);
  background-color: var(--primary);
}

.c-btn-primary:disabled {
  background-color: var(--disabled);
}

.c-btn-secondary {
  background-color: var(--secondary-20);
}

.c-btn-secondary:hover {
  background-color: var(--secondary-20);
}

.c-btn-success {
  background-color: var(--success-20);
}

.c-btn-success:hover {
  background-color: var(--success-20);
}

.c-btn-success.focus,
.c-btn-success:focus {
  color: var(--text);
  background-color: var(--success-20);
  box-shadow: 0 0 0 .2rem var(--focus);
}

.c-btn-success.disabled,
.c-btn-success:disabled {
    background-color: var(--bg-negative-one);
}

.c-btn-danger {
  background-color: var(--danger-20);
}

.c-btn-danger:hover {
  background-color: var(--danger-20);
}

.c-btn-danger.focus,
.c-btn-danger:focus {
  color: var(--text);
  background-color: var(--danger-20);
  box-shadow: 0 0 0 .2rem var(--focus);
}

.c-btn-danger.disabled,
.c-btn-danger:disabled {
    background-color: var(--bg-negative-one);
}

.c-btn-warning {
  background-color: var(--warning-20);
}

.c-btn-warning:hover {
  background-color: var(--warning-20);
}

.c-btn-warning.focus,
.c-btn-warning:focus {
  color: var(--text);
  background-color: var(--warning-20);
  box-shadow: 0 0 0 .2rem var(--focus);
}

.c-btn-warning.disabled,
.c-btn-warning:disabled {
    background-color: var(--bg-negative-one);
}

.c-btn-info {
  background-color: var(--info-20);
}

.c-btn-info:hover {
  background-color: var(--info-20);
}

.c-btn-info.focus,
.c-btn-info:focus {
  color: var(--text);
  background-color: var(--info-20);
  box-shadow: 0 0 0 .2rem var(--focus);
}

.c-btn-info.disabled,
.c-btn-info:disabled {
    background-color: var(--bg-negative-one);
}

/* Icons */

.c-theme-btn {
  border-radius: 50%;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: calc(var(--system-margin) / 2);
  padding: 0.25rem 0.5rem;
  z-index: 1030;
}
.c-theme-btn\/dark {
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1rem' height='1rem' fill='currentColor' class='bi bi-moon-fill' viewBox='0 0 16 16'%3e%3cpath d='M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.c-theme-btn\/light {
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='1rem' height='1rem' viewBox='0 0 16 16' xml:space='preserve'%3e%3cstyle%3e.st0%7bfill:%23fff%7d%3c/style%3e%3ccircle class='st0' cx='8' cy='8' r='4'/%3e%3cpath class='st0' d='M8 0c.3 0 .5.2.5.5v2c0 .3-.2.5-.5.5s-.5-.2-.5-.5v-2c0-.3.2-.5.5-.5zM8 13c.3 0 .5.2.5.5v2c0 .3-.2.5-.5.5s-.5-.2-.5-.5v-2c0-.3.2-.5.5-.5zM16 8c0 .3-.2.5-.5.5h-2c-.3 0-.5-.2-.5-.5s.2-.5.5-.5h2c.3 0 .5.2.5.5zM3 8c0 .3-.2.5-.5.5h-2C.2 8.5 0 8.3 0 8s.2-.5.5-.5h2c.3 0 .5.2.5.5zM13.7 2.3c.2.2.2.5 0 .7l-1.4 1.4c-.2.2-.5.2-.7 0-.2-.2-.2-.5 0-.7L13 2.3c.1-.2.5-.2.7 0zM4.5 11.5c.2.2.2.5 0 .7L3 13.7c-.2.2-.5.2-.7 0-.2-.2-.2-.5 0-.7l1.4-1.4c.3-.3.6-.3.8-.1zM13.7 13.7c-.2.2-.5.2-.7 0l-1.4-1.4c-.2-.2-.2-.5 0-.7.2-.2.5-.2.7 0l1.4 1.4c.2.1.2.5 0 .7zM4.5 4.5c-.2.2-.5.2-.7 0L2.3 3c-.2-.2-.2-.5 0-.7.2-.2.5-.2.7 0l1.4 1.4c.3.3.3.6.1.8z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}