.c-webkit-scrollbars *::-webkit-scrollbar {
  width: 18px;
  height: 18px;
  background-color: transparent;
}
.c-webkit-scrollbars *::-webkit-scrollbar-track:vertical {
  background-color: transparent;
  border-left: 1px solid var(--border);
}
.c-webkit-scrollbars *::-webkit-scrollbar-track:horizontal {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.c-webkit-scrollbars *::-webkit-scrollbar-thumb {
  background-color: var(--border);
  border: 0.4rem solid transparent;
  -moz-background-clip: content;     /* Firefox 3.6 */
  -webkit-background-clip: content;  /* Safari 4? Chrome 6? */
  background-clip: content-box;
  border-radius: 1rem;
}
.c-webkit-scrollbars *::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-negativeone);
  border-color: transparent;
}
.c-webkit-scrollbars *::-webkit-scrollbar-corner {
  background-color: transparent;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}