
/*_______Tabs */

input[type="radio"] + label:hover,
input[type="checkbox"] + label:hover {
	cursor: pointer;
}
.c-tabs input[type="radio"],
.c-tabs input[type="checkbox"] {
	display: none;
  height: 0%;
}
.c-tabs .c-tab {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
.c-tab .c-nav-link {
  font-size: 0.875rem;
}
.c-tab:hover {
	cursor: pointer;
}
.c-tabs input[type="radio"]:checked + label + .c-tab,
.c-tabs input[type="checkbox"]:checked + label + .c-tab {
  max-height: 400px;
}