
.u-display\/none         { display: none !important; }
.u-display\/inline       { display: inline !important; }
.u-display\/inline-block { display: inline-block !important; }
.u-display\/block        { display: block !important; }
.u-display\/table        { display: table !important; }
.u-display\/table-row    { display: table-row !important; }
.u-display\/table-cell   { display: table-cell !important; }
.u-display\/flex         { display: flex !important; }
.u-display\/inline-flex  { display: inline-flex !important; }

@media (min-width:576px) {
  .u-display\/none\:sm         { display: none !important; }
  .u-display\/inline\:sm       { display: inline !important; }
  .u-display\/inline-block\:sm { display: inline-block !important; }
  .u-display\/block\:sm        { display: block !important; }
  .u-display\/table\:sm        { display: table !important; }
  .u-display\/table-row\:sm    { display: table-row !important; }
  .u-display\/table-cell\:sm   { display: table-cell !important; }
  .u-display\/flex\:sm         { display: flex !important; }
  .u-display\/inline-flex\:sm  { display: inline-flex !important; }
}

@media (min-width:768px) {
  .u-display\/none\:md         { display: none !important; }
  .u-display\/inline\:md       { display: inline !important; }
  .u-display\/inline-block\:md { display: inline-block !important; }
  .u-display\/block\:md        { display: block !important; }
  .u-display\/table\:md        { display: table !important; }
  .u-display\/table-row\:md    { display: table-row !important; }
  .u-display\/table-cell\:md   { display: table-cell !important; }
  .u-display\/flex\:md         { display: flex !important; }
  .u-display\/inline-flex\:md  { display: inline-flex !important; }
}

@media (min-width:992px) {
  .u-display\/none\:lg         { display: none !important; }
  .u-display\/inline\:lg       { display: inline !important; }
  .u-display\/inline-block\:lg { display: inline-block !important; }
  .u-display\/block\:lg        { display: block !important; }
  .u-display\/table\:lg        { display: table !important; }
  .u-display\/table-row\:lg    { display: table-row !important; }
  .u-display\/table-cell\:lg   { display: table-cell !important; }
  .u-display\/flex\:lg         { display: flex !important; }
  .u-display\/inline-flex\:lg  { display: inline-flex !important; }
}

@media (min-width:1200px) {
  .u-display\/none\:xl         { display: none !important; }
  .u-display\/inline\:xl       { display: inline !important; }
  .u-display\/inline-block\:xl { display: inline-block !important; }
  .u-display\/block\:xl        { display: block !important; }
  .u-display\/table\:xl        { display: table !important; }
  .u-display\/table-row\:xl    { display: table-row !important; }
  .u-display\/table-cell\:xl   { display: table-cell !important; }
  .u-display\/flex\:xl         { display: flex !important; }
  .u-display\/inline-flex\:xl  { display: inline-flex !important; }
}